<div
  id="guest-list"
  cdkDropList
  [cdkDropListData]="guests()"
  class="guest-list"
  (cdkDropListDropped)="drop($event)"
  (cdkDropListEntered)="dropListEntered()"
>
  @for (guest of guests(); track guest.id) {
    <div
      cdkDrag
      [cdkDragData]="{ guest: guest, tableNumber: null, chairIndex: null }"
      (cdkDragStarted)="dragStart($event)"
      (cdkDragReleased)="dragReleased()"
    >
      <app-guest-list-item [guest]="guest" />
      <app-guest-chair-item *cdkDragPreview [guest]="guest" />
      <app-guest-drag-placeholder *cdkDragPlaceholder [guest]="guest" />
    </div>
  }
</div>
