<div
  id="guest-list"
  cdkDropList
  [cdkDropListData]="guests()"
  class="guest-list"
  (cdkDropListDropped)="drop($event)"
  (cdkDropListEntered)="onListEntered()"
>
  @for (guest of guests(); track guest.id) {
    <div
      class="example-box"
      cdkDrag
      [cdkDragData]="{ guest: guest, tableNumber: null, chairIndex: null }"
      (cdkDragStarted)="dragStart($event)"
      (cdkDragReleased)="dragReleased()"
      [style]="{ backgroundColor: guest.bgColor, color: guest.color }"
    >
      {{ guest.name }}
      <span *cdkDragPreview [style]="{ backgroundColor: guest.bgColor, color: guest.color }">{{ guest.initials }}</span>
      <ng-container *cdkDragPlaceholder>
        @if (dragHoverType$ | async) {
          <span [style]="{ backgroundColor: guest.bgColor, color: guest.color }"> {{ guest.initials }} </span>
        } @else {
          <div class="example-box" [style]="{ backgroundColor: guest.bgColor, color: guest.color }">
            {{ guest.name }}
          </div>
        }
      </ng-container>
    </div>
  }
</div>
