:host {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.guest-list {
  height: 100%;
  overflow-y: auto;
}

.cdk-drag-placeholder {
  height: var(--guest-item-height);
}
