<div
  id="guest-list"
  cdkDropList
  [cdkDropListData]="guests()"
  class="guest-list"
  (cdkDropListDropped)="drop($event)"
  (cdkDropListEntered)="dropListEntered()"
>
  @for (guest of guests(); track guest.id) {
    <div
      class="example-box"
      cdkDrag
      [cdkDragData]="{ guest: guest, tableNumber: null, chairIndex: null }"
      (cdkDragStarted)="dragStart($event)"
      (cdkDragReleased)="dragReleased()"
      [style]="guest.color"
    >
      {{ guest.name }}
      <span *cdkDragPreview [style]="guest.color">{{ guest.initials }}</span>
      <ng-container *cdkDragPlaceholder>
        <app-guest-drag-placeholder [guest]="guest" />
      </ng-container>
    </div>
  }
</div>
