<h2 mat-dialog-title>Tables export</h2>
<mat-dialog-content>
  <form [formGroup]="exportForm">
    <mat-card appearance="outlined" class="dialog-card">
      <mat-card-header>
        <mat-card-title> Summary </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <span matListItemTitle>All guest:</span>
            <span matListItemLine>{{ allGuestCount() }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">
            <span matListItemTitle>Were seated:</span>
            <span matListItemLine>{{ allGuestCount() - seatedCount() }}</span>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">
            <span matListItemTitle>Tables amount:</span>
            <span matListItemLine>{{ tables().length }}</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined" class="dialog-card">
      <mat-card-header>
        <mat-card-title> Export settings </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <mat-slide-toggle formControlName="anonymize">Anonimize</mat-slide-toggle>
          </mat-list-item>
          @if (hasMetadata) {
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">
              <mat-slide-toggle formControlName="showMetadata">Show metadata</mat-slide-toggle>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item role="listitem">
              <mat-slide-toggle formControlName="saveMetaConfig">Save metadata configuration</mat-slide-toggle>
            </mat-list-item>
          }
        </mat-list>
      </mat-card-content>
    </mat-card>

    @if (!!exportForm.get('meta') && exportForm.get('showMetadata')?.value) {
      <mat-card appearance="outlined" class="dialog-card" formGroupName="meta">
        <mat-card-header>
          <mat-card-title> Metadata </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <table mat-table [dataSource]="metaKeys" class="mat-elevation-z8">
            <ng-container matColumnDef="key">
              <th mat-header-cell *matHeaderCellDef>No.</th>
              <td mat-cell *matCellDef="let key">{{ key }}</td>
            </ng-container>

            <ng-container matColumnDef="hidden">
              <th mat-header-cell *matHeaderCellDef>Visible</th>
              <td mat-cell *matCellDef="let key">
                @if (getHiddenControl(key); as hiddenControl) {
                  <button
                    mat-icon-button
                    aria-label="Hide button"
                    (click)="hiddenControl.setValue(!hiddenControl.value)"
                  >
                    <mat-icon>{{ hiddenControl.value ? 'visibility_off' : 'visibility' }}</mat-icon>
                  </button>
                }
              </td>
            </ng-container>

            <ng-container matColumnDef="label">
              <th mat-header-cell *matHeaderCellDef>Label</th>
              <td mat-cell *matCellDef="let key">
                @if (getLabelControl(key); as labelControl) {
                  <mat-form-field>
                    <input matInput placeholder="Enter label text" [formControl]="labelControl" />
                    <button
                      matSuffix
                      matIconButton
                      aria-label="Clear"
                      [disabled]="!labelControl.value"
                      (click)="labelControl.setValue('')"
                    >
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                }
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    }
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button id="accept" mat-button (click)="accept()" [disabled]="!isValid">Accept</button>
</mat-dialog-actions>
