@use '@angular/material' as mat;

.mat-column-key,
.mat-column-options {
  flex: 1 0;
}

.mat-column-label {
  flex: 3 0;
}

.counters-button {
  @include mat.badge-overrides(
    (
      background-color: var(--mat-sys-secondary),
      text-color: var(--mat-sys-on-secondary),
    )
  );
}
