:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .tables-toolbar {
    flex: 0 0 auto;
  }

  .tables-scroll {
    overflow-y: auto;

    .tables-container {
      flex: 1 1;
      margin: 1rem;
      border: dotted black 5px;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}

.add-button {
  margin-left: 1rem;
}
