<div class="table-container">
  <div class="table" [style]="tableColor()">
    <div class="table-cloth">
      {{ tableNumber() }}

      <div>
        <button matIconButton aria-label="Remove chair button" (click)="odRemoveChair()" matTooltip="Remove chair">
          <mat-icon fontSet="material-symbols">remove</mat-icon>
        </button>
        <button
          matIconButton
          aria-label="Add table button"
          class="danger-button"
          (click)="onDeleteTable()"
          matTooltip="Delete table"
        >
          <mat-icon fontSet="material-symbols">delete</mat-icon>
        </button>
        <button matIconButton aria-label="Add chair button" (click)="onAddChair()" matTooltip="Add chair">
          <mat-icon fontSet="material-symbols">add</mat-icon>
        </button>
      </div>

      {{ tableStats() }}
    </div>
  </div>

  @for (guestId of table()?.chairs; let index = $index; track index) {
    <div class="chair-wrapper" [style]="transforms()[index]">
      <app-chair [tableNumber]="tableNumber()" [chairIndex]="index" [guestId]="guestId"></app-chair>
    </div>
  }
</div>
