<!-- <div class="table-container" cdkDragBoundary=".tables-container" cdkDrag> -->
<div class="table-container">
  <div class="table" [style]="{ background: tableColor() }">
    {{ tableNumber() }}
    <button mat-icon-button aria-label="Add table button" class="danger-button" (click)="onDeleteTable()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  @for (guestId of table()?.chairs; let index = $index; track index) {
    <div class="chair-wrapper" [style]="transforms()[index]">
      <app-chair [tableNumber]="tableNumber()" [chairIndex]="index" [guestId]="guestId"></app-chair>
    </div>
  }
</div>
