<h2 mat-dialog-title>Boolean formaters</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-card appearance="outlined" class="dialog-card">
      <mat-card-header>
        <mat-card-title> Choose formater </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-table [dataSource]="tableFormatters()" class="mat-elevation-z8">
          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox [checked]="selectedId() === row.id" (change)="select(row.id)" />
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="true">
            <mat-header-cell *matHeaderCellDef>True label</mat-header-cell>
            <mat-cell *matCellDef="let row">
              @if (editedId() === row.id) {
                @if (getTrueControl(); as control) {
                  <mat-form-field>
                    <input matInput placeholder="Enter label text" [formControl]="control" />
                  </mat-form-field>
                }
              } @else {
                {{ row.trueLabel }}
              }
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="false">
            <mat-header-cell *matHeaderCellDef>False label</mat-header-cell>
            <mat-cell *matCellDef="let row">
              @if (editedId() === row.id) {
                @if (getFalseControl(); as control) {
                  <mat-form-field>
                    <input matInput placeholder="Enter label text" [formControl]="control" />
                  </mat-form-field>
                }
              } @else {
                {{ row.falseLabel }}
              }
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="options">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              @if (row.editable) {
                @if (editedId() === row.id) {
                  <button
                    mat-icon-button
                    aria-label="Save button"
                    matTooltip="Save"
                    (click)="adding() ? saveAdd() : saveEdit()"
                    [disabled]="!isValid"
                  >
                    <mat-icon fontSet="material-symbols">save</mat-icon>
                  </button>
                } @else {
                  <button
                    mat-icon-button
                    aria-label="Edit button"
                    matTooltip="Edit"
                    (click)="edit(row)"
                    [disabled]="editedId() !== null"
                  >
                    <mat-icon fontSet="material-symbols">edit</mat-icon>
                  </button>
                }
                <button matIconButton aria-label="Delete button" matTooltip="Delete" (click)="remove(row)">
                  <mat-icon fontSet="material-symbols">delete</mat-icon>
                </button>
              }
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columns"></mat-row>
        </mat-table>

        <button
          class="add-formatter-button"
          matButton="filled"
          aria-label="Add button"
          (click)="add()"
          [disabled]="editedId() !== null"
        >
          Add new
          <mat-icon fontSet="material-symbols">add</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button id="accept" mat-button (click)="accept()" [disabled]="!isValid">Accept</button>
</mat-dialog-actions>
