<div
  id="guest-list"
  cdkDropList
  [cdkDropListData]="guests()"
  class="example-list"
  (cdkDropListDropped)="drop($event)"
  (cdkDropListEntered)="onListEntered()"
>
  @for (guest of guests(); track guest.id) {
  <div
    class="example-box"
    cdkDrag
    [cdkDragData]="{ guest: guest, tableNumber: null, chairIndex: null }"
  >
    {{ guest.name }}
    <span *cdkDragPreview>{{ guest.initials }}</span>
    <ng-container *cdkDragPlaceholder>
      @if(dragHoverType$ | async){
      <span> {{ guest.initials }} </span>
      } @else{
      <div class="example-box">{{ guest.name }}</div>
      }
    </ng-container>
  </div>
  }
</div>
