<mat-toolbar class="guest-toolbar">
  <span>Guest List</span>

  <span class="toolbar-spacer"></span>

  <!-- <button
    matIconButton
    aria-label="Add quests button"
    class="add-button"
    (click)="onAddQuests()"
    matTooltip="Add guest"
  >
    <mat-icon fontSet="material-symbols">add</mat-icon>
  </button> -->

  <button matIconButton aria-label="Import quests button" [matMenuTriggerFor]="menu" matTooltip="Import guests">
    <mat-icon fontSet="material-symbols">upload_file</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item aria-label="Import and add button" (click)="onImportQuests(false)">
      <mat-icon fontSet="material-symbols">person_add</mat-icon>
      <span>Import and add</span>
    </button>
    <button mat-menu-item aria-label="Import and replace button" (click)="onImportQuests(true)">
      <mat-icon fontSet="material-symbols">person_alert</mat-icon>
      <span>Import and replace</span>
    </button>
  </mat-menu>
</mat-toolbar>

<app-guests-list />
