<h2 mat-dialog-title>Counters</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-card appearance="outlined" class="dialog-card">
      <mat-card-header>
        <mat-card-title> Counters list </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-table [dataSource]="countersRows" class="mat-elevation-z8" formArrayName="counters">
          <ng-container matColumnDef="scope">
            <mat-header-cell *matHeaderCellDef>Scope</mat-header-cell>
            <mat-cell *matCellDef="let i = index" [formGroupName]="i">
              <div class="scope-container" formGroupName="scope">
                <mat-slide-toggle class="scope-slide-toggle" formControlName="table">Table</mat-slide-toggle>
                <mat-slide-toggle class="scope-slide-toggle" formControlName="global">Global</mat-slide-toggle>
                @if (hasScopeError(i)) {
                  <mat-error>At least one scope option is reguired</mat-error>
                }
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="label">
            <mat-header-cell *matHeaderCellDef>Label</mat-header-cell>
            <mat-cell *matCellDef="let i = index" [formGroupName]="i">
              <mat-form-field>
                <input matInput placeholder="Enter label text" formControlName="label" />
                @if (getLabelControl(i); as labelControl) {
                  <button
                    matSuffix
                    matIconButton
                    aria-label="Clear"
                    [disabled]="!labelControl.value"
                    (click)="labelControl.setValue('')"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                }
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="values">
            <mat-header-cell *matHeaderCellDef>Values</mat-header-cell>
            <mat-cell *matCellDef="let i = index" [formGroupName]="i">
              <mat-form-field>
                <mat-select formControlName="values" multiple>
                  @for (value of values; track value) {
                    <mat-option [value]="value.id" [matTooltip]="value.name">{{ value.name }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="options">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let i = index" [formGroupName]="i">
              <button mat-icon-button aria-label="Delete button" matTooltip="Counters" (click)="delete(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columns"></mat-row>
        </mat-table>

        <button class="add-counter-button" matButton="filled" aria-label="Add button" (click)="add()">
          Add new
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button id="accept" mat-button (click)="accept()" [disabled]="!isValid">Accept</button>
</mat-dialog-actions>
