.add-counter-button {
  width: 100%;
  margin-block: 0.5rem;
}

.scope-container {
  display: flex;
  flex-direction: column;

  .scope-slide-toggle:not(:last-of-type) {
    margin-block: 0.5rem;
  }
}

.mat-column-scope,
.mat-column-label,
.mat-column-values {
  flex: 2 0;
}

.mat-column-options {
  flex: 1 0;
}
