<div
  class="chair"
  cdkDropList
  [cdkDropListData]="guestId()"
  (cdkDropListDropped)="drop($event)"
  (cdkDropListEntered)="dropListEntered()"
  [cdkDropListEnterPredicate]="dropPredicate"
>
  @if (guest(); as existingGuest) {
    <span
      [style]="existingGuest.color"
      cdkDrag
      [cdkDragData]="{
        guest: existingGuest,
        tableNumber: tableNumber(),
        chairIndex: chairIndex(),
      }"
      (cdkDragStarted)="dragStart($event)"
      (cdkDragReleased)="dragReleased()"
    >
      {{ existingGuest.initials }}
      <ng-container *cdkDragPlaceholder>
        <app-guest-drag-placeholder [guest]="existingGuest" />
      </ng-container>
    </span>
  }
</div>
