<div
  class="chair"
  cdkDropList
  [cdkDropListData]="guestId()"
  (cdkDropListDropped)="drop($event)"
  (cdkDropListEntered)="dropListEntered()"
  [cdkDropListEnterPredicate]="dropPredicate"
>
  @if (guest(); as existingGuest) {
    <app-guest-chair-item
      [guest]="existingGuest"
      cdkDrag
      [cdkDragData]="{
        guest: existingGuest,
        tableNumber: tableNumber(),
        chairIndex: chairIndex(),
      }"
      (cdkDragStarted)="dragStart($event)"
      (cdkDragReleased)="dragReleased()"
      [matTooltip]="existingGuest.name"
    >
      <app-guest-drag-placeholder *cdkDragPlaceholder [guest]="existingGuest" />
    </app-guest-chair-item>
  }
</div>
