@use '@angular/material' as mat;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  --chair-size: 40px;
  --table-wrapper-size-multi: 10;
  --table-size-multi: 7;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.danger-button {
  @include mat.icon-button-overrides(
    (
      icon-color: var(--mat-sys-error),
    )
  );
}
